     .outer {
        margin: 0;
        font-family: 'Press Start 2P', cursive;
        line-height: 1.8;
        align-items: center;
        top: 0; left: 0; right: 0; bottom: 0;
      }
      .wrapper {
        text-align: center;
        margin:  auto;
      }
      #game {
        min-height: 350px;
        margin: 10px auto 40px;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .score {
        overflow: hidden;
        margin: 15px auto 0;
        font-size: 14px;
        max-width: 700px;
      }
      #newgame input {
        color: #fff;
        background: #000;
        cursor: pointer;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 10px 15px;
        font: 15px 'Press Start 2P', cursive;
        outline: none;
      }
      .explanation {
        margin: 40px auto;
        font-size: 12px;
        text-align: left;
        max-width: 550px;
      }
